<template>
  <div>
    <h2 class="green--text" v-if="confirmed">
      Your email has been confirmed!<br /><br />
      You will be redirected to login page in few seconds...
    </h2>
    <h2 class="red--text" v-if="!confirmed">
      Unrecognized call!<br /><br />
      You will be redirected to home page in few seconds...
    </h2>
  </div>
</template>
<script>
export default {
  layout: 'guest',
  auth: 'guest',
  data: () => ({
    confirmed: false
  }),
  async fetch () {
    try {
      await this.$axios.$get(
        `/auth/verification/${this.$router.history.current.params.id}`
      );
      this.confirmed = true;
      setTimeout(() => this.$router.push({ path: '/login' }), 3000);
    } catch (err) {
      setTimeout(() => this.$router.push({ path: '/' }), 3000);
    }
  }
};
</script>
