<template>
  <v-app-bar app color="white" flat>
    <v-btn class="px-10" icon x-large :loading="loading" @click="reloadPage">
    <v-icon class="mx-10" large>
      mdi-weather-night
    </v-icon>
    </v-btn>
    <v-container class="py-1 fill-height">
      <v-btn
        v-for="page in pages"
        :key="page.text"
        :color="page.color"
        :to="page.to"
        text
      >
        {{ page.text }}
      </v-btn>

      <v-spacer></v-spacer>

      <v-menu
        v-for="[text, rounded] in btns"
        :key="text"
        :rounded="rounded"
        offset-y
      >
        <template v-slot:activator="{ on }">
          <v-btn icon x-large v-on="on" color="white">
            <v-avatar color="indigo">
              <v-icon dark>
                mdi-account-circle
              </v-icon>
            </v-avatar>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="item in items"
            :key="item.text"
            :to="toPath(item.to)"
            link
          >
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-container>
  </v-app-bar>
</template>

<script>
export default {
  data: () => ({
    pages: [
      {
        text: 'New STUD',
        color: 'green',
        to: '/create-stud'
      },
      {
        text: 'STUDS',
        color: 'primary',
        to: '/studs'
      },
      {
        text: 'My Offers',
        color: 'primary',
        to: '/offers'
      },
      {
        text: 'My Meetings',
        color: 'primary',
        to: '/meetings'
      }
    ],
    btns: [['Custom', 'b-xl']],
    colors: ['deep-purple accent-4', 'error', 'teal darken-1'],
    items: [
      {
        text: 'My profile',
        to: '/user/'
      },
      {
        text: 'Edit profile',
        to: '/edit-profile'
      },
      {
        text: 'Edit password',
        to: '/edit-password'
      },
      {
        text: 'Logout',
        to: '/logout'
      }
    ]
  }),
  computed: {
    loading () {
      return this.$store.getters.getLoading;
    }
  },
  methods: {
    async reloadPage () {
      this.$router.push('/');
    },
    toPath (path) {
      if (path === '/user/') {
        path += this.$store.getters.getUserId !== null ? this.$store.getters.getUserId : null;
      }
      return path;
    }
  }
};
</script>
