<style>
body {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating {
  font-size: 16px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-work {
  padding: 14%;
  margin-top: -15%;
}
.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}
</style>
<template>
  <div class="container emp-profile" >
    <h1 class="orange--text" v-if="!found">
      User not found :(
    </h1>
    <form method="post" v-if="found">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img :src="profilePicture" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h1 class="green--text">
              {{ username }}
            </h1>
            <div v-if="helperRating !== null || seekerRating != null">
              <p class="proile-rating">RANKINGS :</p>
              <v-row>
                <v-col v-if="helperRating !== null">
                  As helper:
                  <v-rating
                    v-model="helperRating"
                    color="yellow darken-3"
                    background-color="grey darken-1"
                    empty-icon="$ratingFull"
                    hover
                    readonly
                    small
                  ></v-rating>
                </v-col>
                <v-col v-if="seekerRating != null">
                  As seeker:
                  <v-rating
                    v-model="seekerRating"
                    color="yellow darken-3"
                    background-color="grey darken-1"
                    empty-icon="$ratingFull"
                    hover
                    readonly
                    small
                  ></v-rating>
                </v-col>
              </v-row>
            </div>
            <v-divider> </v-divider>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="profile-work">
            <h3 class="blue--text mx-2">Alert tags</h3>
            <span class="mx-4" v-for="tag in alertTags" :key="tag"
              >- {{ tag }} <br />
            </span>
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row">
                <div class="col-md-6">
                  <p>First name</p>
                </div>
                <div class="col-md-6">
                  <label>{{ firstName }}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>Last name</p>
                </div>
                <div class="col-md-6">
                  <label>{{ lastName }}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>Email</p>
                </div>
                <div class="col-md-6">
                  <label>{{ email }}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>Birthday</p>
                </div>
                <div class="col-md-6">
                  <label>{{ birthdate }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <v-row justify="center" v-if="owner">
          <v-btn class="ma-5 white--text" color="primary" to="/edit-profile">
            Edit my information
          </v-btn>
          <v-btn class="ma-5 white--text" color="red" @click="deleteAccount">
            Delete my account
          </v-btn>
        </v-row>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  layout: 'index',
  async fetch () {
    this.owner =
      // eslint-disable-next-line eqeqeq
      this.$auth.user.user_id == this.$router.history.current.params.id;
    try {
      const user = await this.$axios.$get(`/api/v1/user/${this.$router.history.current.params.id}`);
      const rating = await this.$axios.$get(
        `/api/v1/user/${user.user_id}/rating`
      );
      this.helperRating = rating.avg_helper_rating;
      this.seekerRating = rating.avg_seeker_rating;
      this.username = user.username;
      this.profilePicture = user.profile_picture;
      this.alertTags = user.alert_tags;
      this.firstName = user.first_name;
      this.lastName = user.last_name;
      this.email = user.email;
      this.birthdate = user.birthdate;
      this.found = true;
    } catch (err) {
    }
  },
  data: () => ({
    owner: false,
    seekerRating: null,
    helperRating: null,
    username: null,
    profilePicture: null,
    alertTags: [],
    firstName: null,
    lastName: null,
    email: null,
    birthdate: null,
    found: false
  }),
  methods: {
    async deleteAccount () {
      try {
        this.$axios.delete('/api/v1/user');
        this.$auth.logout();
      } catch (err) {

      }
    }
  }
};
</script>
