/* eslint-disable camelcase */
/* eslint-disable camelcase */
<template>
  <v-container>
    <v-alert
      dense
      :type="alertType"
      :value="alert"
      @click="alert = !alert"
      dismissible
    >
      {{ alertMessage }}
    </v-alert>
    <v-row justify="center">
      <v-col cols="8">
        <v-sheet min-height="70vh" rounded="lg">
          <div class="py-2">
            <v-card
              v-if="stud"
              :key="stud.stud_id"
              :class="stud.class"
              max-width="99%"
              class="mx-2"
              outlined
            >
              <v-card-title>
                <v-col>
                  <span
                    class="text-body-2"
                    title="The creation date of this Stud"
                    ><v-icon color="grey"> mdi-calendar-clock</v-icon>
                    {{ formatCreationTS(stud.creation_timestamp) }}
                  </span>
                </v-col>
                <v-col
                  class="pl-5"
                  cols="12"
                  md="2"
                  title="The deadline of this Stud"
                >
                  <span class="text-body-2"
                    ><v-icon :color="stud.style.deadlineIconColor">
                      mdi-clock-alert</v-icon
                    >
                    <span :class="stud.style.deadlineText">
                      {{ formatCreationTS(stud.deadline) }}
                    </span>
                  </span>
                </v-col>
                <v-col
                  class="ml-n5 pl-5"
                  cols="12"
                  md="1"
                  title="The cost of this Stud"
                >
                  <span class="title text-body-2"
                    ><v-icon :color="stud.style.moneyIconColor">
                      mdi-cash-multiple</v-icon
                    >
                    {{ studCost }}
                  </span>
                </v-col>
              </v-card-title>

              <v-divider class="mx-4"></v-divider>

              <v-card-text class="mx-4">
                <v-row>
                  <span class="py-3 px-3 subheading">Stud tags</span>

                  <v-chip-group>
                    <v-chip v-for="tag in stud.tags" :key="tag" :value="tag">
                      {{ tag }}
                    </v-chip>
                  </v-chip-group>
                </v-row>
              </v-card-text>

              <v-divider class="mx-4"></v-divider>
              <v-col>
                <v-window class="elevation-1" vertical>
                  <v-window-item>
                    <v-card flat>
                      <v-card-text>
                        <v-row class="mb-4" align="center">
                          <strong class="title mx-2"
                            ><h2
                              v-bind:class="
                                'display-1 font-weight-light bold ' +
                                stud.style.titleColor
                              "
                            >
                              {{ stud.title }}
                            </h2></strong
                          >
                          <v-spacer></v-spacer>

                          <v-btn
                            color="blue"
                            class="white--text mx-7"
                            outlined
                            :to="`/user/${stud.stud_owner_id}`"
                          >
                            <v-list-item-title>{{
                              stud.owner.username
                            }}</v-list-item-title>
                            <v-list-item-avatar
                              color="grey  darken-3"
                              size="25"
                            >
                              <v-img
                                class="elevation-6"
                                :style="stud.style.imgColor"
                                alt=""
                                :src="stud.owner.profile_picture"
                              ></v-img>
                            </v-list-item-avatar>
                          </v-btn>
                        </v-row>
                        <span class="black--text">
                          {{ stud.problem_description }}
                        </span>
                      </v-card-text>
                    </v-card>
                  </v-window-item>
                </v-window>
              </v-col>
              <v-row class="mb-1">
                <v-col v-for="item in getItemsList" :key="item.name">
                  <v-window :class="item.class">
                    <v-window-item>
                      <v-card flat>
                        <v-card-text>
                          <v-row justify="center" class="mb-1">
                            <div class="overline">
                              <span
                                v-if="
                                  offer === null ||
                                  item.name !== 'Availability list'
                                "
                              >
                                {{ item.name }}
                              </span>
                              <span
                                v-else-if="
                                  offer !== null &&
                                  item.name === 'Availability list'
                                "
                              >
                                My offer
                              </span>
                            </div>
                          </v-row>
                          <span class="mx-5 font-italic text--secondary">
                            <span
                              v-if="
                                offer === null ||
                                item.name !== 'Availability list'
                              "
                            >
                              {{ item.description }}
                            </span>
                            <span
                              v-if="
                                offer !== null &&
                                item.name === 'Availability list'
                              "
                            >
                              <strong>You have proposed a slot from</strong>
                              {{ minOfferTime }} <strong> to</strong>
                              {{ maxOfferTime }}
                            </span>
                          </span>
                          <v-expansion-panels
                            popout
                            v-if="
                              item.name !== 'Availability list' ||
                              modifyingOffer ||
                              offer === null
                            "
                          >
                            <v-expansion-panel
                              v-for="option in item.list"
                              :key="
                                option.name + option.index ? option.index : ''
                              "
                              @click="flashData(item.name, option)"
                              hide-actions
                            >
                              <v-expansion-panel-header>
                                <v-row align="center" class="spacer" no-gutters>
                                  <v-col class="text-no-wrap" cols="5" sm="3">
                                    <strong v-html="option.name"></strong>
                                  </v-col>
                                </v-row>
                              </v-expansion-panel-header>
                              <v-expansion-panel-content>
                                <v-divider></v-divider>
                                <div v-if="item.name === 'Proposed Offers'">
                                  <h4>
                                    The user
                                    <a
                                      v-bind:href="
                                        '/user/' + option.item.user.user_id
                                      "
                                    >
                                      {{ option.item.user.username }}</a
                                    >
                                    has proposed to help you with this STUD
                                  </h4>
                                  <v-row
                                    justify="center"
                                    v-if="option.item.status === 'PENDING'"
                                  >
                                    <v-col cols="5">
                                      <v-btn
                                        block
                                        class="white--text my-2"
                                        color="red"
                                        height="32"
                                        @click="rejectOffer(option.item)"
                                        small
                                        rounded
                                      >
                                        Reject their offer
                                      </v-btn>
                                    </v-col>
                                    <v-col cols="5">
                                      <v-btn
                                        block
                                        class="white--text my-2"
                                        color="green darken"
                                        height="32"
                                        @click="acceptOffer(option.item)"
                                        small
                                        rounded
                                      >
                                        Accept their offer
                                      </v-btn>
                                    </v-col>
                                  </v-row>
                                  <h4
                                    v-else-if="
                                      option.item.status === 'SCHEDULED' ||
                                      option.item.status === 'FINISHED'
                                    "
                                  >
                                    and, you have accepted his offer!
                                    <span
                                      v-if="option.item.status === 'SCHEDULED'"
                                    >
                                      <a
                                        v-bind:href="channelLink"
                                        target="_blank"
                                      >
                                        Go to Discord channel
                                      </a>
                                    </span>
                                  </h4>
                                  <h4
                                    v-else-if="
                                      option.item.status === 'REJECTED'
                                    "
                                  >
                                    and you have rejected his offer.
                                  </h4>
                                </div>
                                <v-btn
                                  class="ma-2"
                                  outlined
                                  :href="option.item"
                                  @click.prevent="
                                    downloadWithAxios(option.item)
                                  "
                                  v-if="item.name === 'Attachment list'"
                                  download
                                  target="_blank"
                                >
                                  Download File
                                </v-btn>
                                <v-btn
                                  class="ma-5 white--text"
                                  color="red"
                                  v-if="
                                    item.name === 'Attachment list' &&
                                    ownerOfStud &&
                                    stud.status === 'AVAILABLE'
                                  "
                                  @click="deleteAttachment(option.item)"
                                >
                                  Delete attachment
                                </v-btn>
                                <v-range-slider
                                  :value="[0, 1]"
                                  min="0"
                                  :max="getMaxPoints(option.item)"
                                  ticks="always"
                                  :tick-size="1"
                                  v-model="option.range"
                                  @change="movingSlider(option.index, $event)"
                                  v-if="item.name === 'Availability list'"
                                >
                                </v-range-slider>
                                <v-row
                                  v-if="item.name === 'Availability list'"
                                  class="mx-n5"
                                >
                                  <v-col>
                                    <v-chip class="ma-2" color="primary" label>
                                      <v-icon left> mdi-contain-start </v-icon>
                                      {{ minOfferTime }}
                                      <v-icon class="mx-2" right>
                                        mdi-fast-forward
                                      </v-icon>
                                      {{ maxOfferTime }}
                                      <v-icon right> mdi-contain-end </v-icon>
                                    </v-chip>
                                  </v-col>
                                  <v-col class="mx-n2">
                                    <v-btn
                                      block
                                      class="white--text my-2"
                                      color="green darken"
                                      height="32"
                                      :disabled="invalidTimes"
                                      @click="proposeOffer(item)"
                                      small
                                      rounded
                                    >
                                      <span v-if="offer === null">
                                        Propose slot</span
                                      >
                                      <span v-if="offer !== null">
                                        Change Offer</span
                                      >
                                    </v-btn>
                                  </v-col>
                                </v-row>
                              </v-expansion-panel-content>
                            </v-expansion-panel>
                          </v-expansion-panels>
                          <div
                            v-if="
                              item.name === 'Availability list' &&
                              offer !== null
                            "
                          >
                            <v-row>
                              <span class="mt-3 mx-8">
                                Offer status:
                                <span class="title primary--text">{{
                                  offer.status
                                }}</span>
                              </span>
                            </v-row>
                            <v-row>
                              <h4
                                class="mx-8"
                                v-if="
                                  offer !== null && offer.status === 'SCHEDULED'
                                "
                              >
                                Your offer has been accepted!
                                <a v-bind:href="channelLink" target="_blank">
                                  Go to Discord channel
                                </a>
                              </h4>
                            </v-row>
                          </div>
                          <v-row
                            justify="center"
                            v-if="
                              item.name === 'Availability list' &&
                              offer !== null
                            "
                          >
                            <v-col cols="5">
                              <v-btn
                                block
                                class="white--text my-2"
                                color="red"
                                height="32"
                                @click="item.redBtn.onClick(item)"
                                v-if="offer.status === 'PENDING'"
                                small
                                rounded
                              >
                                {{ item.redBtn.title }}
                              </v-btn>
                            </v-col>
                            <v-col cols="5" v-if="!modifyingOffer">
                              <v-btn
                                block
                                class="white--text my-2"
                                color="green darken"
                                height="32"
                                @click="item.greenBtn.onClick(item)"
                                v-if="offer.status === 'PENDING'"
                                small
                                rounded
                              >
                                {{ item.greenBtn.title }}
                              </v-btn>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-window-item>
                  </v-window>
                </v-col>
              </v-row>
              <v-row
                justify="center"
                v-if="ownerOfStud && stud.status === 'AVAILABLE'"
              >
                <v-btn
                  class="ma-5 white--text"
                  color="primary"
                  :to="'/modify-stud/' + stud.stud_id"
                  :disabled="isDeleted"
                >
                  Edit this STUD
                </v-btn>
                <v-btn
                  class="ma-5 white--text"
                  color="red"
                  @click="deleteStud"
                  :disabled="isDeleted"
                >
                  Delete this STUD
                </v-btn>
              </v-row>
            </v-card>
          </div>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
const moment = require('moment');
export default {
  layout: 'index',
  async fetch () {
    this.$store.commit('setLoading', true);
    const stud = await this.$axios.$get(
      `/api/v1/stud/${this.$router.history.current.params.id}`
    );
    if (stud.attachments !== null && stud.attachments.length > 0) {
      stud.attachments = stud.attachments.map((attachment) => {
        return {
          item: attachment,
          name: `Attachment ${this.attachmentI++}`
        };
      });
    }
    let rangeIndex = 0;
    stud.availability_list = stud.availability_list.map((item) => {
      const groups = item.match(this.tsRegex);
      return {
        item: item,
        name: `From ${groups[0]} until ${groups[1]}`,
        range: [0, 1],
        index: rangeIndex++,
        initialTime: groups[0]
      };
    });
    const user = await this.$axios.$get(`/api/v1/user/${stud.stud_owner_id}`);
    stud.owner = {
      username: user.username,
      profile_picture: user.profile_picture
    };
    if (stud.status === 'AVAILABLE') {
      stud.style = {
        deadlineIconColor: 'red',
        moneyIconColor: 'green',
        titleColor: 'indigo--text',
        btnColor: 'deep-purple accent-4',
        imgColor: '',
        deadlineText: ''
      };
    } else {
      stud.style = {
        deadlineIconColor: 'grey',
        moneyIconColor: 'grey',
        titleColor: 'grey--text',
        btnColor: 'grey',
        imgColor: 'filter: grayscale(1);',
        deadlineText: 'text-decoration-line-through'
      };
    }
    this.stud = stud;
    this.ownerOfStud = this.$auth.user.user_id === stud.stud_owner_id;
    if (!this.ownerOfStud) {
      try {
        const offer = await this.$axios.get(
          `/api/v1/stud/${stud.stud_id}/offer`
        );
        if (offer.status === 200) {
          this.offer = offer.data;
          if (offer.data.status === 'SCHEDULED') {
            await this.getChannelLink(this.offer.offer_id);
          }
          this.alert = true;
          this.offerExistAlert();
        }
      } catch (err) {
        // the user didn't make any offer for this stud
      }
    } else {
      try {
        const response = await this.$axios.get(
          `/api/v1/stud/${stud.stud_id}/offer`
        );
        if (response.status === 200) {
          const offers = response.data;
          this.offers = [];
          let offerIndex = 0;
          for (const offer of offers) {
            offer.user = await this.$axios.$get(
              `/api/v1/user/${offer.helper_user_id}`
            );
            const groups = offer.meeting_date.match(this.tsRegex);
            this.offers.push({
              item: offer,
              name: `From ${groups[0]} to ${groups[1]}`,
              index: offerIndex++
            });
            if (offer.status === 'SCHEDULED') {
              await this.getChannelLink(offer.offer_id);
            }
          }
        }
      } catch (err) {
        // the owner didn't receive any offers
      }
    }
    this.$store.commit('setLoading', false);
  },
  data: function () {
    return {
      stud: null,
      attachmentI: 1,
      lorem: 'Lorem ip',
      seasons: ['Winter', 'Spring', 'Summer', 'Fall'],
      icons: [
        'mdi-contain-start',
        'mdi-ray-start-arrow',
        'mdi-contain-end',
        'mdi-water'
      ],
      tsRegex: /[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}/g,
      ranges: [0, 1],
      minOfferTime: null,
      maxOfferTime: null,
      invalidTimes: false,
      alert: false,
      alertType: null,
      alertMessage: null,
      offer: null,
      ownerOfStud: false,
      itemList: [],
      isDeleted: false,
      modifyingOffer: false,
      modifyingBtn: 'Modify offer',
      offers: null,
      channelLink: null
    };
  },
  methods: {
    async proposeOffer (item) {
      this.alert = true;
      if (this.minOfferTime === this.maxOfferTime) {
        this.alertType = 'warning';
        this.alertMessage = "The slot you chosed isn't valid";
        return;
      }
      try {
        let offer = null;
        if (this.offer === null) {
          offer = await this.$axios.post('/api/v1/offer', {
            stud_id: this.stud.stud_id,
            meeting_date: `["${this.formatApiTS(
              this.minOfferTime
            )}","${this.formatApiTS(this.maxOfferTime)}"]`
          });
        } else {
          this.offer.meeting_date = `["${this.formatApiTS(
            this.minOfferTime
          )}","${this.formatApiTS(this.maxOfferTime)}"]`;
          offer = await this.$axios.put('/api/v1/offer', this.offer);
        }
        if (offer.status === 200) {
          this.offer = offer.data;
          this.offerExistAlert();
          this.cancelModification(item);
        }
      } catch (err) {
        this.alertType = 'warning';
        this.alertMessage = "Your request hasn't been accepted :(";
      }
    },
    formatDate (date) {
      const tmp = date
        .toISOString()
        .replace('T', ' ')
        .replace(/\.[0-9]{3}Z/, '+00');
      return tmp;
    },
    async deleteAttachment (url) {
      const stud = await this.$axios.$get(`/api/v1/stud/${this.stud.stud_id}`);
      stud.attachments = stud.attachments.filter(
        (link) => link !== url
      );
      const regex = /([0-9]{4})-([0-1][0-9])-([0-3][0-9])\s([0-1][0-9]|[2][0-3]):([0-5][0-9])/g;
      const availability_list = [];
      for (const availability of stud.availability_list) {
        const match = availability.match(regex);
        const start = new Date(match[0].replace(' ', 'T') + ':00.000Z');
        const end = new Date(match[1].replace(' ', 'T') + ':00.000Z');
        availability_list.push(
          `["${this.formatDate(start)}","${this.formatDate(end)}"]`
        );
      }
      stud.availability_list = availability_list;
      await this.$axios.$put(`/api/v1/stud/${this.stud.stud_id}`, stud);
      window.location.reload();
    },
    flashData (itemName, option) {
      if (itemName === 'Availability list') {
        this.movingSlider(option.index, option.range);
      }
    },
    formatCreationTS (ts) {
      return moment(ts).format('DD/MM/yyyy HH:mm');
    },
    formatApiTS (ts) {
      return moment(ts, 'DD/MM/yyyy HH:mm').format('yyyy-MM-DD HH:mm:00+00');
    },
    forceFileDownload (response, title) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', title);
      document.body.appendChild(link);
      link.click();
    },
    downloadWithAxios (url) {
      const split = url.split('/');
      const title = split[split.length - 1];
      this.$axios({
        method: 'get',
        url,
        responseType: 'blob'
      })
        .then((response) => {
          this.forceFileDownload(response, title);
        })
        .catch(() => console.log('error occured'));
    },
    getMaxPoints (rangTs) {
      const groups = rangTs.match(this.tsRegex);
      if (!groups.length) {
        return 0;
      }
      return moment(groups[1]).diff(moment(groups[0]), 'minutes') / 30;
    },
    movingSlider (index, ranges) {
      this.minOfferTime = moment(this.stud.availability_list[index].initialTime)
        .add(ranges[0] * 30, 'minutes')
        .format('DD/MM/yyyy HH:mm');
      this.maxOfferTime = moment(this.stud.availability_list[index].initialTime)
        .add(ranges[1] * 30, 'minutes')
        .format('DD/MM/yyyy HH:mm');
      this.invalidTimes = this.minOfferTime === this.maxOfferTime;
      if (!this.initialTime && this.offer !== null) {
        this.invalidTimes =
          this.offer.meeting_date ===
          `["${this.formatApiTS(this.minOfferTime)}","${this.formatApiTS(
            this.maxOfferTime
          )}"]`;
      }
    },
    offerExistAlert () {
      this.alertType = 'info';
      this.alertMessage = 'Your request has been sent successfully';
    },
    async deleteStud () {
      if (this.ownerOfStud && this.stud.status === 'AVAILABLE') {
        try {
          const deletedStud = await this.$axios.delete(
            `/api/v1/stud/${this.stud.stud_id}`
          );
          if (deletedStud.status === 200) {
            this.isDeleted = true;
            this.alert = true;
            this.alertType = 'success';
            this.alertMessage =
              'The STUD has been deleted successfully, You will be redirected to home page...';
            setTimeout(() => this.$router.push({ path: '/' }), 3000);
          }
        } catch (err) {}
      }
    },
    showModifyingItems (item) {
      this.modifyingOffer = true;
      item.redBtn.title = 'Cancel';
      item.redBtn.onClick = this.cancelModification;
    },
    cancelModification (item) {
      this.modifyingOffer = false;
      item.greenBtn.title = 'Modify My Offer';
      item.greenBtn.onClick = this.showModifyingItems;
      item.redBtn.title = 'Delete My Offer';
      item.redBtn.onClick = this.deleteOffer;
    },
    async deleteOffer (item) {
      try {
        const deletedOffer = await this.$axios.delete(
          `/api/v1/offer/${this.offer.offer_id}`
        );
        if (deletedOffer.status === 200) {
          this.offer = null;
          this.alert = true;
          this.alertType = 'success';
          this.alertMessage = 'The Offer has been deleted successfully';
        }
      } catch (err) {}
    },
    async acceptOffer (offer) {
      try {
        const copy = { ...offer };
        copy.status = 'ACCEPTED';
        delete copy.user;
        const acceptedOffer = await this.$axios.put('/api/v1/offer', copy);
        if (acceptedOffer.status === 200) {
          const meeting = await this.getChannelLink(offer.offer_id);
          if (meeting.status === 200) {
            offer.status = acceptedOffer.data.status;
            this.alert = true;
            this.alertType = 'success';
            this.alertMessage = 'The Offer has been accepted successfully';
            this.$router.go();
          }
        }
      } catch (err) {}
    },
    async getChannelLink (offerId) {
      const meeting = await this.$axios.get(`/api/v1/meeting/${offerId}`);
      if (meeting.status === 200) {
        this.channelLink = meeting.data.channel_link;
      }
      return meeting;
    },
    async rejectOffer (offer) {
      try {
        const copy = { ...offer };
        copy.status = 'REJECTED';
        delete copy.user;
        const rejectedOffer = await this.$axios.put('/api/v1/offer', copy);
        if (rejectedOffer.status === 200) {
          offer.status = rejectedOffer.data.status;
          this.alert = true;
          this.alertType = 'success';
          this.alertMessage = 'The Offer has been rejected successfully';
        }
      } catch (err) {}
    }
  },
  computed: {
    studCost () {
      return this.stud.silver_credit_cost + this.stud.gold_credit_cost;
    },
    getItemsList () {
      const itemList = [];
      const objClass =
        'elevation-1 mx-4 ' + this.stud.attachments !== null &&
        this.stud.attachments.length > 0
          ? 'mr-n10'
          : '';
      if (
        (!this.ownerOfStud && this.stud.status === 'AVAILABLE') ||
        this.offer !== null
      ) {
        itemList.push({
          name: 'Availability list',
          description: 'If you are interested, pick a time slot right below!',
          list: this.stud.availability_list,
          redBtn: {
            title: 'Delete My Offer',
            onClick: this.deleteOffer
          },
          greenBtn: {
            title: 'Modify My Offer',
            onClick: this.showModifyingItems
          },
          class: objClass
        });
      } else if (this.ownerOfStud) {
        let description =
          "You didn't receive any Offer yet, don't worry it could take some time";
        if (this.offers !== null && this.offers.length > 0) {
          description = 'In the list below, you can find the proposed Offers';
        }
        itemList.push({
          name: 'Proposed Offers',
          description: description,
          list: this.offers,
          class: objClass
        });
      }
      if (this.stud.attachments !== null && this.stud.attachments.length > 0) {
        itemList.push({
          name: 'Attachment list',
          description:
            'If you want, you can download the attachments of this stud right below!',
          list: this.stud.attachments,
          class: 'elevation-1 mx-4'
        });
      }
      return itemList;
    }
  },
  watch: {
    offer: function (val) {
      if (val === null) {
        return;
      }
      const groups = val.meeting_date.match(this.tsRegex);
      this.minOfferTime = moment(groups[0]).format('DD/MM/yyyy HH:mm');
      this.maxOfferTime = moment(groups[1]).format('DD/MM/yyyy HH:mm');
    }
  }
};
</script>
