<template>
  <v-app id="inspire">
    <LazyHeader />
      <v-main class="grey lighten-3">
        <v-container
          class="fill-height"
          fluid
        >
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              cols="12"
              sm="8"
              md="4"
            >
              <v-card class="elevation-12">
                <v-toolbar
                  color="primary"
                  dark
                  flat
                ><v-row justify="center">
                  <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
                  </v-row>
                </v-toolbar>
                <v-card-text>
              <v-container>
        <nuxt />
      </v-container>
            </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
  </v-app>
</template>

<script>
export default {
  computed: {
    formTitle () {
      return this.$store.getters.getFormTitle;
    }
  },
  data: () => ({
    links: [
      'Dashboard',
      'Messages',
      'Profile',
      'Updates'
    ]
  })
};
</script>
