<template>
  <v-app id="inspire">
    <LazyHeader />
    <v-main class="grey lighten-3">
      <nuxt />
      <template v-slot:activator>
        <v-btn v-model="fab" color="blue darken-2" dark fab>
          <v-icon v-if="fab">
            mdi-close
          </v-icon>
          <v-icon v-else>
            mdi-account-circle
          </v-icon>
        </v-btn>
      </template>
    </v-main>
  </v-app>
</template>
