<template>
  <div>
    <v-stepper v-model="e6" vertical>
      <v-alert
        dense
        :type="alertType"
        :value="alert"
        @click="alert = !alert"
        dismissible
      >
        {{ alertMessage }}
      </v-alert>
      <v-stepper-step :complete="e6 > 1" step="1">
        Describe your problem
        <small>Be precise</small>
      </v-stepper-step>
      <v-stepper-content step="1">
        <validation-observer ref="observer" v-slot="{ invalid }">
          <form>
            <validation-provider
              v-slot="{ errors }"
              name="title"
              :rules="{
                required: true,
                regex: '^[[a-zA-Z| |-]*$',
              }"
            >
              <v-text-field
                v-model="title"
                :error-messages="errors"
                label="Title"
                solo
              ></v-text-field>
            </validation-provider>
            <v-select
              v-model="degree_level"
              name="degree_level"
              :items="degrees_level"
              required
              solo
              label="Degree level"
            >
            </v-select>
            <validation-provider
              v-slot="{ errors }"
              name="tags"
              rules="required"
            >
              <v-combobox
                v-model="tags"
                :filter="filter"
                :hide-no-data="!search"
                :items="items_tags"
                :search-input.sync="search"
                hide-selected
                label="Add tags (Python, Math, Music...)"
                multiple
                small-chips
                solo
              >
                <template v-slot:no-data>
                  <v-list-item>
                    <span class="subheading">Create</span>
                    <v-chip
                      :color="`${colors[nonce - 1]} lighten-3`"
                      label
                      small
                    >
                      {{ search }}
                    </v-chip>
                  </v-list-item>
                </template>
                <template v-slot:selection="{ attrs, item, parent, selected }">
                  <v-chip
                    v-if="item === Object(item)"
                    v-bind="attrs"
                    :color="`${item.color} lighten-3`"
                    :input-value="selected"
                    label
                    small
                  >
                    <span class="pr-2">
                      {{ item.text }}
                    </span>
                    <v-icon small @click="parent.selectItem(item)">
                      mdi-cancel
                    </v-icon>
                  </v-chip>
                </template>
                <template v-slot:item="{ index, item }">
                  <v-text-field
                    v-if="editing === item"
                    v-model="editing.text"
                    autofocus
                    flat
                    background-color="transparent"
                    hide-details
                    solo
                    @keyup.enter="edit(index, item)"
                  ></v-text-field>
                  <v-chip
                    v-else
                    :color="`${item.color} lighten-3`"
                    dark
                    label
                    small
                  >
                    {{ item.text }}
                  </v-chip>
                  <v-spacer></v-spacer>
                  <v-list-item-action @click.stop>
                    <v-btn icon @click.stop.prevent="edit(index, item)">
                      <v-icon>{{
                        editing !== item ? "mdi-pencil" : "mdi-check"
                      }}</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </template>
              </v-combobox>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="problem_description"
              :rules="{
                required: true,
              }"
            >
              <v-textarea
                v-model="problem_description"
                :error-messages="errors"
                label="Problem description"
                solo
                auto-grow
              ></v-textarea>
            </validation-provider>
            <v-datetime-picker
              label="Deadline"
              v-model="deadline"
              :datePickerProps="{ min: new Date().toISOString() }"
              :timePickerProps="{ format: '24h' }"
            >
              <template slot="dateIcon">
                <v-icon>mdi-calendar</v-icon>
              </template>
              <template slot="timeIcon">
                <v-icon>mdi-clock</v-icon>
              </template>
            </v-datetime-picker>
            <v-file-input
              placeholder="Add attachments"
              multiple
              show-size
              v-model="attachments"
            ></v-file-input>
            <v-row>
              <v-col cols="12" sm="6">
                <validation-provider
                  v-slot="{ errors }"
                  name="silver_credit_cost"
                  :rules="{
                    regex: '^\\d+(\.\\d+)?$',
                    required: true,
                    min_value: 0,
                    max_value: user_silver_credit,
                  }"
                >
                  <v-icon color="gray"> mdi-gold </v-icon>
                  <span> : {{ user_silver_credit - silver_credit_cost }} </span>
                  <v-text-field
                    type="number"
                    v-model="silver_credit_cost"
                    :error-messages="errors"
                  ></v-text-field>
                </validation-provider>
              </v-col>
              <v-col cols="12" sm="6">
                <validation-provider
                  v-slot="{ errors }"
                  name="gold_credit_cost"
                  :rules="{
                    regex: '^\\d+(\.\\d+)?$',
                    required: true,
                    min_value: 0,
                    max_value: user_gold_credit,
                  }"
                >
                  <v-icon color="yellow accent-3"> mdi-gold </v-icon>
                  <span> : {{ user_gold_credit - gold_credit_cost  }} </span>
                  <v-text-field
                    type="number"
                    v-model="gold_credit_cost"
                    :error-messages="errors"
                  ></v-text-field>
                </validation-provider>
              </v-col>
            </v-row>
            <v-btn color="primary" @click="confirmForm" :disabled="invalid">
              Continue
            </v-btn>
            <v-btn :to="'/studs'" text> Cancel </v-btn>
          </form>
        </validation-observer>
      </v-stepper-content>

      <v-stepper-step :complete="e6 > 2" step="2">
        Select your availabilities.
      </v-stepper-step>
      <v-stepper-content step="2">
        <v-toolbar flat>
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            Today
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small> mdi-chevron-left </v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small> mdi-chevron-right </v-icon>
          </v-btn>
          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-sheet height="400">
          <v-calendar
            ref="calendar"
            v-model="value"
            color="primary"
            type="day"
            :interval-format="intervalFormat"
            :events="events"
            :event-color="getEventColor"
            @click:event="showEvent"
            interval-minutes="30"
            interval-count="48"
            @mousedown:time="startTime"
            @mousemove:time="mouseMove"
            @mouseup:time="endDrag"
          >
          </v-calendar>
        </v-sheet>
        <br />
        <v-btn
          color="primary"
          @click="submit"
          :disabled="!events || events.length === 0"
        >
          Create
        </v-btn>
        <v-btn text @click="e6 = 1"> Cancel </v-btn>
      </v-stepper-content>
    </v-stepper>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"> Confirmation </v-card-title>

        <v-card-text> The stud has been created successfully! </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="confirm"> Close </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="eventDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">
          {{ !!selectedEvent ? selectedEvent.name : null }}
        </v-card-title>

        <v-card-text> Do you want to delete this event? </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="deleteEvent"> Yes </v-btn>
          <v-btn color="grey darken-1" text @click="eventDialog = false">
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
/* eslint-disable camelcase */
import { required, regex, min_value, max_value } from 'vee-validate/dist/rules';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from 'vee-validate';

import DatetimePicker from 'vuetify-datetime-picker';
import Vue from 'vue';

setInteractionMode('eager');
Vue.use(DatetimePicker);
extend('required', {
  ...required,
  message: '{_field_} can not be empty'
});

extend('regex', {
  ...regex,
  message: '{_field_} does not match {regex}'
});

extend('min_value', {
  ...min_value,
  message: 'This field has a minimum value of 0'
});

extend('max_value', {
  ...max_value,
  message: 'You do not have enough credit!'
});
export default {
  components: {
    ValidationObserver,
    ValidationProvider
  },
  async fetch () {
    const credit = await this.$axios.get('/api/v1/credit');
    this.user_gold_credit = credit.data.gold_credit;
    this.user_silver_credit = credit.data.silver_credit;
  },
  data: () => ({
    alert: false,
    alertMessage: null,
    alertType: null,
    attachments: [],
    calendarColors: [
      '#2196F3',
      '#3F51B5',
      '#673AB7',
      '#00BCD4',
      '#4CAF50',
      '#FF9800',
      '#757575'
    ],
    colors: ['green', 'purple', 'indigo', 'cyan', 'teal', 'orange'],
    createEnd: null,
    createEvent: null,
    createStart: null,
    dateInput: {
      placeholder: 'Select Date'
    },
    deadline: '',
    degree_level: null,
    degrees_level: ['Bac+1', 'Bac+2', 'Bac+3', 'Bac+4', 'Bac+5'],
    dialog: false,
    e6: 1,
    editing: null,
    editingIndex: -1,
    events: [],
    eventDialog: false,
    format: 'DD MM YYYY hh:mm',
    gold_credit_cost: 0,
    idEvent: 1,
    items_tags: [
      { header: 'Select an option or create one' },
      {
        text: 'Java',
        color: 'blue'
      },
      {
        text: 'Music',
        color: 'red'
      },
      {
        text: 'Math',
        color: 'green'
      }
    ],
    names: [
      'Meeting',
      'Holiday',
      'PTO',
      'Travel',
      'Event',
      'Birthday',
      'Conference',
      'Party'
    ],
    nonce: 2,
    problem_description: null,
    sameDateFormat: {
      from: 'DD MM YYYY, hh:mm',
      to: 'hh:mm'
    },
    silver_credit_cost: 0,
    user_gold_credit: 0,
    user_silver_credit: 0,
    search: null,
    selectedEvent: null,
    value: '',
    tags: [],
    title: null
  }),
  methods: {
    edit (index, item) {
      if (!this.editing) {
        this.editing = item;
        this.editingIndex = index;
      } else {
        this.editing = null;
        this.editingIndex = -1;
      }
    },
    formatDate (date) {
      const tmp = date
        .toISOString()
        .replace('T', ' ')
        .replace(/\.[0-9]{3}Z/, '+00');
      return tmp;
    },
    confirmForm () {
      let hasError = false;
      let message = '';
      if (this.silver_credit_cost === 0 && this.gold_credit_cost === 0) {
        hasError = true;
        message += 'The cost of the stud can not be equal to zero.\n';
      }
      if (!this.deadline || this.deadline < new Date()) {
        hasError = true;
        message +=
          'The deadline provided can not be before current datetime.\n';
      }
      if (hasError) {
        this.alert = true;
        this.alertType = 'warning';
        this.alertMessage = `They are some errors : \n ${message}`;
      } else {
        this.alert = false;
        this.e6 = 2;
      }
    },
    async submit () {
      const {
        title,
        degree_level,
        events,
        tags,
        problem_description,
        silver_credit_cost,
        gold_credit_cost,
        deadline,
        attachments
      } = this;

      const availability_list = [];
      const links = [];
      for (const event of events) {
        availability_list.push(
          `["${this.formatDate(event.start)}","${this.formatDate(event.end)}"]`
        );
      }
      try {
        let silver = silver_credit_cost.toString().replace(',', '.');
        if (silver.slice(-1) === '.') {
          silver = silver + '0';
        }
        let gold = gold_credit_cost.toString().replace(',', '.');
        if (gold.slice(-1) === '.') {
          gold = gold + '0';
        }
        for (const attachment of attachments) {
          const formData = new FormData();
          formData.append('file', attachment, `${Date.now()}_${attachment.name.split()}`);
          const response = await this.$axios.$post(
            '/api/v1/upload',
            formData
          );
          links.push(response.url);
        }
        await this.$axios.post('/api/v1/stud', {
          title,
          degree_level,
          tags: tags.map((t) => t.text),
          problem_description,
          silver_credit_cost: parseFloat(silver),
          gold_credit_cost: parseFloat(gold),
          deadline: deadline.toISOString(),
          availability_list,
          attachments: links
        });
        this.dialog = true;
      } catch (err) {
        this.alert = true;
        this.alertType = 'warning';
        this.alertMessage = 'Error creating stud, please try again...';
      }
    },
    confirm () {
      this.dialog = false;
      this.$router.push('/studs');
    },
    showEvent ({ nativeEvent, event }) {
      this.selectedEvent = event;
      this.eventDialog = true;
    },
    deleteEvent () {
      this.events = this.events.filter(
        (e) => e.name !== this.selectedEvent.name
      );
      this.eventDialog = false;
    },
    filter (item, queryText, itemText) {
      if (item.header) return false;

      const hasValue = (val) => (val != null ? val : '');

      const text = hasValue(itemText);
      const query = hasValue(queryText);

      return (
        text.toString().toLowerCase().indexOf(query.toString().toLowerCase()) >
        -1
      );
    },
    startTime (tms) {
      this.createStart = this.roundTime(tms, false);
      this.createEnd = this.roundTime(tms);
      if (this.createStart.getTime() >= new Date().getTime()) {
        for (const event of this.events) {
          if (
            (this.createStart < event.end && this.createStart >= event.start) ||
            (this.createEnd <= event.end && this.createEnd > event.start)
          ) {
            this.endDrag();
            return;
          }
        }
        this.createEvent = {
          name: `Event #${this.idEvent++}`,
          color: this.calendarColors[this.idEvent % this.calendarColors.length],
          start: this.createStart,
          end: this.createEnd,
          timed: true
        };
        this.events.push(this.createEvent);
      }
    },
    mouseMove (tms) {
      if (this.createEvent && this.createStart && this.createEnd) {
        const mouse = this.toDate(tms);
        if (mouse.getTime() < this.createStart.getTime()) {
          const time = this.roundTime(tms, false);
          for (let i = 0; i < this.events.length - 1; i++) {
            if (
              time < this.events[i].end &&
              this.createEnd > this.events[i].end
            ) {
              return;
            }
          }
          this.createEvent.start = time;
        } else if (mouse.getTime() > this.createEnd.getTime()) {
          const time = this.roundTime(tms);

          for (let i = 0; i < this.events.length - 1; i++) {
            if (
              time > this.events[i].start &&
              this.createStart < this.events[i].start
            ) {
              return;
            }
          }
          this.createEvent.end = time;
        } else {
          this.createEvent.start = this.createStart;
          this.createEvent.end = this.createEnd;
        }
      }
    },
    endDrag () {
      this.createEvent = null;
      this.createStart = null;
      this.createEnd = null;
    },
    roundTime (tms, up = true) {
      const { year, month, day, hour, minute } = tms;
      if (minute >= 0 && minute < 30) {
        return up
          ? new Date(year, month - 1, day, hour, 30)
          : new Date(year, month - 1, day, hour, 0);
      } else if (minute >= 30 && minute < 60) {
        return up
          ? hour === 23
            ? new Date(
              new Date(year, month - 1, day, hour, 0).getTime() +
                  60 * 60 * 999
            )
            : new Date(
              new Date(year, month - 1, day, hour, 0).getTime() +
                  60 * 60 * 1000
            )
          : new Date(year, month - 1, day, hour, 30);
      }
    },
    toDate (tms) {
      return new Date(tms.year, tms.month - 1, tms.day, tms.hour, tms.minute);
    },
    getEventColor (event) {
      const rgb = parseInt(event.color.substring(1), 16);
      const r = (rgb >> 16) & 0xff;
      const g = (rgb >> 8) & 0xff;
      const b = (rgb >> 0) & 0xff;

      return event === this.createEvent
        ? `rgba(${r}, ${g}, ${b}, 0.7)`
        : event.color;
    },
    setToday () {
      this.value = '';
    },
    prev () {
      this.$refs.calendar.prev();
    },
    next () {
      this.$refs.calendar.next();
    },
    intervalFormat (interval) {
      return interval.time;
    }
  },
  watch: {
    tags (val, prev) {
      if (val.length === prev.length) return;
      this.tags = val.map((v) => {
        if (typeof v === 'string') {
          v = {
            text: v,
            color: this.colors[this.nonce - 1]
          };

          this.items_tags.push(v);
          if (this.nonce === this.colors.length) {
            this.nonce = 0;
          }
          this.nonce++;
        }

        return v;
      });
    }
  }
};
</script>
