<template>
<div>
  <v-alert dense :type="alertType" :value=alert @click="alert=!alert" dismissible>
    {{ alertMessage }}
  </v-alert>

  <validation-observer ref="observer" v-slot="{ invalid }">
    <form @submit.prevent="submit">
        <validation-provider
          v-slot="{ errors }"
          name="oldPassword"
          :rules="{
            required: true,
            regex:
              '^(?=.*[A-Z])(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$%*#.?&])[A-Za-z\\d@$%*.#?&]{8,}$'
          }"
        >
          <v-text-field
            v-model="oldPassword"
            :append-icon="showOldPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :error-messages="errors"
            label="Old password"
            :type="showOldPassword ? 'text' : 'password'"
            @click:append="showOldPassword = !showOldPassword"
            required
            solo
          ></v-text-field>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="newPassword"
          :rules="{
            required: true,
            regex:
              '^(?=.*[A-Z])(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$%*#.?&])[A-Za-z\\d@$%*.#?&]{8,}$'
          }"
        >
          <v-text-field
            v-model="newPassword"
            :append-icon="showNewPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :error-messages="errors"
            label="New password"
            :type="showNewPassword ? 'text' : 'password'"
            @click:append="showNewPassword = !showNewPassword"
            required
            solo
          ></v-text-field>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="confirm"
          rules="required|password:@newPassword"
        >
          <v-text-field
            v-model="confirmation"
            :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :error-messages="errors"
            label="New password confirmation"
            :type="showConfirmPassword ? 'text' : 'password'"
            @click:append="showConfirmPassword = !showConfirmPassword"
            required
            solo
          ></v-text-field>
        </validation-provider>
        <v-card-actions class="justify-center">
          <v-btn class="mr-4" type="submit" :disabled="invalid">
            Modify my password
          </v-btn>
        </v-card-actions>
    </form>
  </validation-observer>
  </div>
</template>
<script>
/* eslint-disable camelcase */
import { required, regex } from 'vee-validate/dist/rules';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from 'vee-validate';

setInteractionMode('eager');

extend('required', {
  ...required,
  message: '{_field_} can not be empty'
});

extend('regex', {
  ...regex,
  message: '{_field_} does not match {regex}'
});

extend('password', {
  params: ['target'],
  validate (value, { target }) {
    return value === target;
  },
  message: 'Password confirmation does not match'
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  created () {
    this.$store.commit('setFormTitle', 'Changing password form');
  },
  data: () => ({
    showOldPassword: false,
    showNewPassword: false,
    showConfirmPassword: false,
    oldPassword: null,
    newPassword: '',
    confirmation: null,
    alert: false,
    alertType: null,
    alertMessage: null
  }),

  methods: {
    async submit () {
      this.alert = true;
      this.alertType = 'warning';
      const { oldPassword: old_password, newPassword: new_password } = this;
      if (old_password !== new_password) {
        try {
          await this.$axios.put('/api/v1/user/password', {
            old_password,
            new_password
          });
        } catch (err) {
          this.alertMessage = 'The old password or the new one is not valid';
          return;
        }
        this.alertType = 'info';
        this.alertMessage = 'The profile has been updated successfuly!';
      } else {
        this.alertMessage = 'You should choose another password!';
      }
    }
  }
};
</script>
