<template>
  <div id="app">
    <v-app>
      <v-app-bar app color="white" height="100">
        <v-btn class="px-10" icon x-large>
          <v-icon class="mx-10" large> mdi-weather-night </v-icon>
        </v-btn>

        <v-toolbar-title class="font-weight-black headline mx-n10">
          STUDIZI |
        </v-toolbar-title>
        <v-img max-height="60" max-width="250" src="homeText.gif"> </v-img>
        <v-row justify="end">
          <v-btn class="ma-2" outlined green color="green" to="/studs" v-if="$auth.user"
            ><v-icon dark left>mdi-format-list-text</v-icon>
            Studs
          </v-btn>
          <v-btn class="ma-2" outlined green color="green" to="/login" v-if="!$auth.user"
            ><v-icon dark left>mdi-account-circle</v-icon>
            Login
          </v-btn>
          <v-btn class="ma-2" outlined color="indigo" to="/signup" v-if="!$auth.user"
            ><v-icon dark left>mdi-login</v-icon>
            Sign up
          </v-btn>
        </v-row>
      </v-app-bar>

      <v-main>
        <section id="hero">
          <v-row no-gutters>
            <v-img
              :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
              src="homePagePicture.jpg"
            >
              <v-theme-provider dark>
                <v-container fill-height>
                  <v-row align="center" class="mx-auto" justify="center">
                    <v-col class="text-center" cols="12" tag="h1">
                      <span
                        :class="[
                          $vuetify.breakpoint.smAndDown
                            ? 'display-1'
                            : 'display-2',
                        ]"
                        class="font-weight-light"
                      >
                        WELCOME TO
                      </span>

                      <br />

                      <span
                        :class="[
                          $vuetify.breakpoint.smAndDown
                            ? 'display-3'
                            : 'display-4',
                        ]"
                        class="font-weight-black"
                      >
                        STUDIZI
                      </span>
                    </v-col>

                    <v-btn
                      class="align-self-end black"
                      fab
                      @click="$vuetify.goTo('#about-stdz')"
                    >
                      <v-icon>mdi-chevron-double-down</v-icon>
                    </v-btn>
                  </v-row>
                </v-container>
              </v-theme-provider>
            </v-img>
          </v-row>
        </section>

        <section id="about-stdz">
          <div class="py-12"></div>

          <v-container class="text-center">
            <h2 class="display-2 font-weight-bold mb-3">
              ABOUT STUDIZI <v-icon large color="blue">mdi-school</v-icon>
            </h2>

            <v-responsive class="mx-auto mb-8" width="56">
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>

            <v-responsive
              class="mx-auto title font-weight-light mb-8"
              max-width="720"
            >
              Due to the CORONA Virus crisis, the world has been forced to move
              on. Digitalization & remote working set themselves in fields that
              do not favor such measures. Usually, face-to-face interactions
              were preferred. Studies is one of them. As engineer apprentices,
              we witnessed the metamorphosis of our classes. Both schools and
              students have been facing huge difficulties since the beginning of
              the health crisis. Despite using telecommunication tools such as
              Teams or Zoom, schools cannot maintain the “normal” type of
              relationship they once had, and students are feeling less and less
              inclined to continue to work from home.
            </v-responsive>
            <div></div>
          </v-container>

          <div class="py-12"></div>
        </section>

        <section id="features" class="grey lighten-3">
          <div class="py-12"></div>

          <v-container class="text-center">
            <h2 class="display-2 font-weight-bold mb-3">
              STUDIZI FEATURES
              <v-icon large color="blue">mdi-star-circle-outline</v-icon>
            </h2>

            <v-responsive class="mx-auto mb-12" width="56">
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>

            <v-row>
              <v-col
                v-for="({ icon, title, text }, i) in features"
                :key="i"
                cols="12"
                md="4"
              >
                <v-hover v-slot="{ hover }">
                  <v-card
                    class="py-12 px-4"
                    color="grey lighten-5"
                    flat
                    :elevation="hover ? 12 : 2"
                  >
                    <v-theme-provider dark>
                      <div>
                        <v-avatar color="primary" size="88">
                          <v-icon large v-text="icon"></v-icon>
                        </v-avatar>
                      </div>
                    </v-theme-provider>

                    <v-card-title
                      class="justify-center font-weight-black text-uppercase"
                      v-text="title"
                    ></v-card-title>

                    <v-card-text class="subtitle-1" v-text="text">
                    </v-card-text>
                  </v-card>
                </v-hover>
              </v-col>
            </v-row>
          </v-container>

          <div class="py-12"></div>
        </section>

        <section id="stats">
          <v-parallax
            :height="$vuetify.breakpoint.smAndDown ? 700 : 500"
            src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
          >
            <v-container fill-height>
              <v-row class="mx-auto" justify="center">
                <v-col
                  v-for="[value, title, icon] of stats"
                  :key="title"
                  cols="12"
                  md="3"
                >
                  <div class="text-center display-3 font-weight-black mb-4">
                    <v-icon x-large color="white">{{ icon }}</v-icon>
                    <animated-number
                      :value="value"
                      :formatValue="format"
                      :duration="15000"
                    />

                    <div
                      class="title font-weight-regular text-uppercase"
                      v-text="title"
                    ></div>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-parallax>
        </section>

        <section id="blog">
          <div class="py-12"></div>

          <v-container>
            <h2
              class="display-2 font-weight-bold mb-3 text-uppercase text-center"
            >
              All kind of topics
              <v-icon large color="green">mdi-check-decagram</v-icon>
            </h2>

            <v-responsive class="mx-auto mb-12" width="56">
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>

            <v-row>
              <v-col
                v-for="({ src, text, title }, i) in articles"
                :key="i"
                cols="12"
                md="4"
              >
                <v-hover v-slot="{ hover }">
                  <v-img :src="src" class="mb-4" height="275" max-width="100%">
                    <v-expand-transition>
                      <div
                        v-if="hover"
                        class="d-flex transition-fast-in-fast-out blue darken-2 v-card--reveal display-3 white--text"
                        style="height: 100%"
                      >
                        <v-btn
                          class="ml-n4 font-weight-black"
                          text
                          to="/signup"
                        >
                          Join Us !
                        </v-btn>
                      </div>
                    </v-expand-transition></v-img
                  >
                </v-hover>

                <style>
                  .v-card--reveal {
                    align-items: center;
                    bottom: 0;
                    justify-content: center;
                    opacity: 0.7;
                    position: absolute;
                    width: 100%;
                  }
                </style>

                <h3
                  class="font-weight-black mb-4 text-uppercase"
                  v-text="title"
                ></h3>

                <div class="title font-weight-light mb-5" v-text="text"></div>
              </v-col>
            </v-row>
          </v-container>

          <div class="py-12"></div>
        </section>
      </v-main>

      <v-footer class="justify-center" color="#292929" height="100">
        <div
          class="title font-weight-light grey--text text--lighten-1 text-center"
        >
          &copy; {{ new Date().getFullYear() }} — STUDIZI, CORP — Made with 💜
          by Baraa <span class="font-weight-black">Al Bakri</span> - Larry
          <span class="font-weight-black"> Andriamampianina</span> - Nicolas
          <span class="font-weight-black">Benchimol</span> - Alexandre
          <span class="font-weight-black">Bezain</span> - Fares
          <span class="font-weight-black">Kissoum</span>
        </div>
      </v-footer>
    </v-app>
  </div>
</template>
<script>
import AnimatedNumber from 'animated-number-vue';
export default {
  components: {
    AnimatedNumber
  },
  auth: false,
  layout: 'home',
  data () {
    return {
      articles: [
        {
          src: 'SoftwareEngineering.jpg',
          title: 'Software Engineering',
          text:
            'Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.'
        },
        {
          src: 'Math.jpg',
          title: 'Mathematics',
          text:
            'Nam ut leo ipsum. Maecenas pretium aliquam feugiat. Aenean vel tempor est, vitae tincidunt risus. Sed sodales vestibulum nibh.'
        },
        {
          src: 'Innovation.jpg',
          title: 'New Technonology',
          text:
            'Vestibulum in dictum velit, in rhoncus nibh. Maecenas neque libero, interdum a dignissim in, aliquet vitae lectus. Phasellus lorem enim, luctus ut velit eget.'
        }
      ],
      features: [
        {
          icon: 'mdi-account-group-outline',
          title: 'Vibrant Community',
          text:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam'
        },
        {
          icon: 'mdi-license',
          title: 'Win some prizes',
          text:
            'Sed ut elementum justo. Suspendisse non justo enim. Vestibulum cursus mauris dui, a luctus ex blandit. Lorem ipsum dolor sit amet consectetur adipisicing elit. qui ipsum eveniet facilis obcaecati corrupti consectetur adipisicing elit.'
        },
        {
          icon: 'mdi-discord',
          title: 'Discord Support',
          text:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam'
        },
        {
          icon: 'mdi-handshake-outline',
          title: 'Become helper or seeker',
          text:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam'
        },
        {
          icon: 'mdi-account-question-outline',
          title: 'Ask all your questions',
          text:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam'
        },
        {
          icon: 'mdi-alert-decagram-outline',
          title: "Don't stress anymore",
          text:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam'
        }
      ],
      stats: [
        ['349', 'Amazing users', 'mdi-account-heart'],
        ['764', 'Studs', 'mdi-map-marker-question'],
        ['90245', 'Min spend on Discord', 'mdi-discord']
      ]
    };
  },
  methods: {
    format (value) {
      return `<h3> ${Number(value).toFixed(0)}</h1>`;
    }
  }
};
</script>
