<template>
  <validation-observer ref="observer" v-slot="{ invalid }">
    <v-alert
      dense
      :type="alertType"
      :value="alert"
      @click="alert = !alert"
      dismissible
    >
      {{ alertMessage }}
    </v-alert>
    <form @submit.prevent="submit">
      <validation-provider
        v-slot="{ errors }"
        name="email"
        rules="required|email"
      >
        <v-text-field
          v-model="email"
          :error-messages="errors"
          label="E-mail"
          required
          solo
        ></v-text-field>
      </validation-provider>
      <validation-provider
        v-slot="{ errors }"
        name="password"
        :rules="{
          required: true,
          regex:
            '^(?=.*[A-Z])(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$%*#.?&])[A-Za-z\\d@$%*.#?&]{8,}$',
        }"
      >
        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :error-messages="errors"
          label="Password"
          :type="showPassword ? 'text' : 'password'"
          @click:append="showPassword = !showPassword"
          required
          solo
        ></v-text-field>
      </validation-provider>
      <v-row justify="center">
        <v-btn class="mr-4" type="submit" :disabled="invalid" color="primary">
          Login
        </v-btn>
      </v-row>
    </form>
  </validation-observer>
</template>
<script>
import { required, email, regex } from 'vee-validate/dist/rules';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from 'vee-validate';

setInteractionMode('eager');

extend('required', {
  ...required,
  message: '{_field_} can not be empty'
});

extend('regex', {
  ...regex,
  message: '{_field_} does not match {regex}'
});

extend('email', {
  ...email,
  message: 'Email must be valid'
});

export default {
  layout: 'guest',
  auth: 'guest',
  components: {
    ValidationProvider,
    ValidationObserver
  },
  created () {
    this.$store.commit('setFormTitle', 'Login form');
  },
  data: () => ({
    showPassword: false,
    email: '',
    password: '',
    alert: false,
    alertType: null,
    alertMessage: null
  }),

  methods: {
    async submit () {
      try {
        const { email, password } = this;
        await this.$auth.loginWith('local', {
          data: { email, password }
        });
        this.$store.commit('setUserId', this.$auth.user.user_id);
      } catch (err) {
        this.alertType = 'error';
        this.alert = true;
        this.alertMessage = 'Incorrect email / password combination :(';
      }
    }
  }
};
</script>
