<template>
  <v-container>
    <v-row>
      <v-col cols="2">
        <v-sheet rounded="lg">
          <v-list flat>
            <v-list-item-group color="primary">
              <v-list-item
                v-for="(item, i) in items"
                :key="i"
                @click="searchByType(item.text)"
              >
                <v-list-item-icon>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-sheet>
      </v-col>
      <v-col>
        <v-alert
          dense
          type="success"
          :value="alertSuccess"
          @click="alertSuccess = !alertSuccess"
          dismissible
        >
          {{ successMessage }}
        </v-alert>
        <v-sheet min-height="70vh" rounded="lg">
          <div class="py-2">
            <v-card
              v-for="meeting of meetings"
              :key="meeting.offer_id"
              :class="meeting.class"
              max-width="99%"
            >
              <v-card-title>
                <v-col>
                  <h2
                    v-bind:class="
                      'display-1 font-weight-light bold ' +
                      meeting.style.titleColor
                    "
                  >
                    {{ meeting.stud.title }}
                  </h2>
                </v-col>
                <v-col
                  class="pl-8"
                  cols="12"
                  md="3"
                  title="The date of meeting"
                >
                  <span class="text-body-2"
                    ><v-icon :color="meeting.style.dateColor">
                      {{ meeting.style.dateIcon }}</v-icon
                    >
                    <span>
                      {{
                        formatMeetingDate(meeting.meeting_date).start.format(
                          "DD/MM/yyyy HH:mm"
                        )
                      }}
                    </span>
                    <v-icon :color="meeting.style.dateColor">
                      mdi-arrow-right-bold-circle-outline
                    </v-icon>
                    <span>
                      {{
                        formatMeetingDate(meeting.meeting_date).end.format(
                          "DD/MM/yyyy HH:mm"
                        )
                      }}
                    </span>
                  </span>
                </v-col>
              </v-card-title>
              <v-card-text class="mx-4">
                <v-row>
                  <v-col>
                    <v-btn
                      outlined
                      class="white--text my-4"
                      :href="meeting.channel_link"
                      color="indigo"
                      target="_blank"
                    >
                      <v-icon left> mdi-calendar-clock </v-icon>
                      Meeting
                    </v-btn>
                  </v-col>
                  <v-col cols="12" md="2">
                    <v-btn
                      outlined
                      class="white--text my-4"
                      :to="`/stud/${meeting.stud.stud_id}`"
                      color="green"
                      target="_blank"
                    >
                      <v-icon left> mdi-message-text</v-icon>
                      Show stud
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-divider class="mx-4"></v-divider>
              <v-row>
                <v-col>
                  <v-row>
                    <v-col cols="12" md="3">
                      <v-card-actions>
                        <v-list-item class="grow px-6">
                          <v-col class="pl-2" cols="12" md="6">
                            <v-list-item-title>
                              <v-icon left color="green">
                                mdi-emoticon-cool-outline </v-icon
                              >Helper :
                            </v-list-item-title>
                          </v-col>
                          <v-list-item-avatar color="grey darken-3">
                            <v-img
                              class="elevation-6"
                              :style="meeting.style.imgColor"
                              alt=""
                              :src="meeting.helper_user.profile_picture"
                            ></v-img>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-col class="pl-2">
                              <v-list-item-title>{{
                                meeting.helper_user.username
                              }}</v-list-item-title>
                            </v-col>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card-actions>
                    </v-col>
                    <v-col cols="12" md="3">
                      <v-card-actions>
                        <v-list-item class="grow px-6">
                          <v-col class="pl-2" cols="12" md="6">
                            <v-list-item-title>
                              <v-icon left color="blue">
                                mdi-robot-dead-outline </v-icon
                              >Seeker :
                            </v-list-item-title>
                          </v-col>
                          <v-list-item-avatar color="grey darken-3">
                            <v-img
                              class="elevation-6"
                              :style="meeting.style.imgColor"
                              alt=""
                              :src="meeting.seeker_user.profile_picture"
                            ></v-img>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-col class="pl-2">
                              <v-list-item-title>{{
                                meeting.seeker_user.username
                              }}</v-list-item-title>
                            </v-col>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card-actions>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" md="2">
                  <v-card-actions>
                    <v-btn
                      outlined
                      class="white--text my-4"
                      v-if="(formatMeetingDate(meeting.meeting_date).end < moment)"
                      :color="meeting.style.btnColor"
                      @click="openRating(meeting)"
                    >
                      <v-icon left> mdi-account-question-outline </v-icon>

                      Rate meeting
                    </v-btn>
                  </v-card-actions>
                </v-col>
              </v-row>
            </v-card>
          </div>
        </v-sheet>
      </v-col>
    </v-row>
    <div v-if="selectedMeeting">
      <v-dialog v-model="dialog" width="400" height="400">
        <v-card>
          <v-card-title class="headline">
            Rate your
            {{ selectedMeeting.my_role === "HELPER" ? "SEEKER" : "HELPER" }}
          </v-card-title>
          <v-card-text>
            Please take a few seconds to rate your experience with
            {{
              selectedMeeting.my_role === "HELPER"
                ? selectedMeeting.seeker_user.username
                : selectedMeeting.helper_user.username
            }}
            <div class="text-center mt-4">
              <v-textarea
                v-model="selectedMeeting.comment"
                label="Comment"
                solo
                auto-grow
              ></v-textarea>
              <v-rating
                v-model="selectedMeeting.rating"
                color="yellow darken-3"
                background-color="grey darken-1"
                empty-icon="$ratingFull"
                hover
                large
              ></v-rating>
            </div>
          </v-card-text>
          <v-alert
            dense
            :type="alertType"
            :value="alert"
            @click="alert = !alert"
            dismissible
          >
            {{ alertMessage }}
          </v-alert>
          <v-divider></v-divider>
          <v-card-actions class="justify-space-between">
            <v-btn color="grey" @click="reset" text> Cancel </v-btn>
            <v-btn
              color="primary"
              v-if="selectedMeeting.rating_id < 0"
              @click="rate"
              text
            >
              Rate Now
            </v-btn>
            <v-btn
              color="primary"
              v-if="selectedMeeting.rating_id >= 0"
              @click="changeRate"
              text
            >
              Change rate
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-container>
</template>

<script>
const moment = require('moment');
export default {
  layout: 'index',
  async fetch () {
    await this.updateMeeting(this.curruentTimeStamp());
  },
  data: () => ({
    alert: false,
    alertSuccess: false,
    successMessage: null,
    alertMessage: null,
    alertType: null,
    meetings: [],
    offset: 0,
    limit: 10,
    offer_id: 1,
    stud_id: 1,
    selectedMeeting: null,
    dialog: false,
    lastType: null,
    items: [
      { text: 'HELPER', icon: 'mdi-emoticon-cool-outline' },
      { text: 'SEEKER', icon: 'mdi-robot-dead-outline' }
    ],
    types: ['HELPER', 'SEEKER'],
    searchType: null,
    isWaitingForMeetings: true,
    noMoreMeetings: false,
    yScrollPercent: 0,
    moment: moment()
  }),
  watch: {
    yScrollPercent: async function (newYScrollPercent, old) {
      if (
        newYScrollPercent > 50 &&
        !this.isWaitingForMeetings &&
        !this.noMoreMeetings
      ) {
        this.isWaitingForMeetings = true;
        await this.updateMeeting(
          this.meetings[this.meetings.length - 1].creation_timestamp,
          this.searchType === null ? [] : [this.searchType]
        );
      }
    }
  },
  methods: {
    curruentTimeStamp () {
      return new Date().toISOString();
    },
    async updateMeeting (creationTimestamp, type = '') {
      const params = {
        limit: this.limit,
        creationTimestamp
      };
      switch (type) {
        case 'HELPER':
          params.helper_user_id = this.$auth.user.user_id;
          break;
        case 'SEEKER':
          params.stud_owner_id = this.$auth.user.user_id;
          break;
      }
      let firstMeeting = !this.meetings.length;
      this.$store.commit('setLoading', true);
      const meetings = await this.$axios.$get('/api/v1/meeting/list', {
        params
      });
      if (!meetings.length) {
        this.noMoreMeetings = true;
      }
      for (const meeting of meetings) {
        const stud = await this.$axios.$get(`/api/v1/stud/${meeting.stud_id}`);
        meeting.stud = stud;

        if (meeting.helper_user_id === this.$auth.user.user_id) {
          const seeker = await this.$axios.$get(
            `/api/v1/user/${meeting.stud_owner_id}`
          );
          meeting.seeker_user = seeker;
          meeting.helper_user = this.$auth.user;
          meeting.my_role = 'HELPER';
        } else {
          const helper = await this.$axios.$get(
            `/api/v1/user/${meeting.helper_user_id}`
          );
          meeting.seeker_user = this.$auth.user;
          meeting.helper_user = helper;
          meeting.my_role = 'SEEKER';
        }
        const ratings = await this.$axios.$get('/api/v1/rating/list/', {
          params: {
            offer_id: meeting.offer_id,
            rating_user_id: this.$auth.user.user_id,
            rated_user_id:
              meeting.my_role === 'HELPER'
                ? meeting.seeker_user.user_id
                : meeting.helper_user.user_id
          }
        });
        if (ratings.length > 0) {
          meeting.comment = ratings[0].comment;
          meeting.rating = ratings[0].rating;
          meeting.rating_id = ratings[0].rating_id;
        } else {
          meeting.comment = '';
          meeting.rating = 0;
          meeting.rating_id = -1;
        }
        if (firstMeeting) {
          firstMeeting = false;
          meeting.class = 'mx-auto';
        } else {
          meeting.class = 'my-5 mx-auto';
        }
        meeting.style = {
          titleColor: 'indigo--text',
          btnColor: 'blue darken accent-4',
          imgColor: ''
        };
        if (this.formatMeetingDate(meeting.meeting_date).start > moment()) {
          meeting.style.dateIcon = 'mdi-calendar-clock';
          meeting.style.dateColor = 'grey';
        } else {
          meeting.style.dateIcon = 'mdi-clock-alert';
          meeting.style.dateColor = 'red';
        }
        this.meetings.push(meeting);
      }
      this.$store.commit('setLoading', false);
      this.isWaitingForMeetings = false;
    },
    openRating (meeting) {
      this.selectedMeeting = meeting;
      this.dialog = true;
    },
    async rate () {
      const { selectedMeeting } = this;
      try {
        if (selectedMeeting.rating > 0) {
          const rating = await this.$axios.$post('/api/v1/rating', {
            offer_id: selectedMeeting.offer_id,
            comment: selectedMeeting.comment,
            rating: selectedMeeting.rating,
            type: selectedMeeting.my_role
          });
          selectedMeeting.comment = rating.comment;
          selectedMeeting.rating = rating.rating;
          selectedMeeting.rating_id = rating.rating_id;
          this.alertSuccess = true;
          this.successMessage = 'The rating has been successfully created! ';
          this.reset();
        } else {
          this.alert = true;
          this.alertType = 'warning';
          this.alertMessage = 'The rate should be at least 1';
        }
      } catch (err) {
        this.alert = true;
        this.alertType = 'error';
        this.alertMessage = 'Something went wrong... Try again';
      }
    },
    async changeRate () {
      const { selectedMeeting } = this;
      try {
        if (selectedMeeting.rating > 0) {
          await this.$axios.put(`/api/v1/rating/${selectedMeeting.rating_id}`, {
            rating_id: selectedMeeting.rating_id,
            offer_id: selectedMeeting.offer_id,
            comment: selectedMeeting.comment,
            rating: selectedMeeting.rating,
            type: selectedMeeting.my_role,
            rating_user_id: this.$auth.user.user_id,
            rated_user_id:
              selectedMeeting.my_role === 'HELPER'
                ? selectedMeeting.seeker_user.user_id
                : selectedMeeting.helper_user.user_id
          });
          this.alertSuccess = true;
          this.successMessage = 'The rating has been successfully modified! ';
        } else {
          this.alert = true;
          this.alertType = 'warning';
          this.alertMessage = 'The rate should be at least 1';
        }
        this.reset();
      } catch (err) {
        this.alert = true;
        this.alertType = 'error';
        this.alertMessage = 'Something went wrong... Try again';
      }
    },
    reset () {
      this.selectedMeeting = null;
      this.dialog = false;
    },
    getDocHeight () {
      const docHeight = Math.max(
        document.body.scrollHeight || 0,
        document.documentElement.scrollHeight || 0,
        document.body.offsetHeight || 0,
        document.documentElement.offsetHeight || 0,
        document.body.clientHeight || 0,
        document.documentElement.clientHeight || 0
      );
      return docHeight;
    },
    percent (initDiff) {
      const windowHeight = window.innerHeight;
      const docHeight = this.getDocHeight() - windowHeight;
      const scrollPosition = this.getScrollPosition();
      const result =
        ((scrollPosition + windowHeight) / docHeight) * 100 - initDiff;
      return Math.floor(result);
    },
    getScrollPosition () {
      return window.pageYOffset !== undefined
        ? window.pageYOffset
        : (
            document.documentElement ||
            document.body.parentNode ||
            document.body
          ).scrollTop;
    },
    async handleScroll () {
      const windowHeight = window.innerHeight;
      const docHeight = this.getDocHeight() - windowHeight;
      const initDiff = (windowHeight / docHeight) * 100;
      this.yScrollPercent = this.percent(initDiff);
    },
    async searchByType (type) {
      this.isWaitingForMeetings = false;
      this.noMoreMeetings = false;
      this.searchType = type;
      this.meetings = [];
      if (type !== this.lastType) {
        await this.updateMeeting(this.curruentTimeStamp(), type);
      } else {
        await this.updateMeeting(this.curruentTimeStamp());
      }
      this.lastType = type;
    },
    formatMeetingDate (dates) {
      const regex = /([0-9]{4})-([0-1][0-9])-([0-3][0-9])\s([0-1][0-9]|[2][0-3]):([0-5][0-9])/g;
      const match = dates.match(regex);
      const start = moment(match[0]);
      const end = moment(match[1]);
      return { start, end };
    }
  },
  beforeMount () {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll);
  }
};
</script>
