<template>
  <v-container>
    <v-row>
      <v-col cols="2">
        <v-sheet rounded="lg">
          <v-list flat>
            <v-list-item-group color="primary">
              <v-list-item
                v-for="(s, i) in status"
                :key="i"
                @click="searchByStatus(s.label)"
              >
                <v-list-item-icon>
                  <v-icon v-text="s.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="s.label"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-sheet>
      </v-col>
      <v-col>
        <v-sheet min-height="70vh" rounded="lg">
          <div class="py-2">
            <v-card
              v-for="offer of offers"
              :key="offer.offer_id"
              :class="offer.class"
              max-width="99%"
            >
              <v-card-title>
                <h2 class="display-1 font-weight-light bold purple--text">
                  {{ offer.stud.title }}
                </h2>
                <v-spacer></v-spacer>
                <span class="title"
                  >{{ offer.statusStyle.label }}
                  <v-icon color="gray">
                    {{ offer.statusStyle.icon }}</v-icon
                  ></span
                >
              </v-card-title>
              <v-divider class="mx-4"></v-divider>
              <v-row>
                <v-col>
                  <v-card-actions>
                    <v-list-item class="grow px-6">
                      <v-list-item-icon>
                        <v-icon v-text="offer.style.icon"></v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>{{
                          offer.style.text
                        }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-card-actions>
                </v-col>
                <v-col>
                  <v-chip class="ma-5" color="primary" label>
                    <v-icon left> mdi-contain-start </v-icon>
                    {{ offer.range.lower }}
                    <v-icon class="mx-2" right> mdi-fast-forward </v-icon>
                    {{ offer.range.upper }}
                    <v-icon right> mdi-contain-end </v-icon>
                  </v-chip>
                </v-col>

                <v-col cols="12" md="2">
                  <v-card-actions>
                    <v-btn
                      block
                      class="white--text mt-2"
                      color="deep-purple accent-4"
                      :to="'/stud/' + offer.stud_id"
                    >
                      Show Stud
                    </v-btn>
                  </v-card-actions>
                </v-col>
              </v-row>
            </v-card>
          </div>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
const moment = require("moment");
export default {
  beforeMount() {
    window.addEventListener("scroll", this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  layout: "index",
  async fetch() {
    await this.updateOffers(this.currentTimestamp());
  },
  data: () => ({
    isWaitingForOffers: false,
    lastSelectedStatus: null,
    noMoreOffers: false,
    offers: [],
    params: {
      limit: 10,
      offset: 0,
    },
    status: [
      { label: "PENDING", icon: "mdi-account-clock" },
      { label: "ACCEPTED", icon: "mdi-check-decagram-outline" },
      { label: "SCHEDULED", icon: "mdi-calendar" },
      { label: "FINISHED", icon: "mdi-check-decagram" },
      { label: "REJECTED", icon: "mdi-calendar-remove" },
    ],
    yScrollPercent: 0,
  }),
  methods: {
    currentTimestamp() {
      return new Date().toISOString();
    },
    getDocHeight() {
      const docHeight = Math.max(
        document.body.scrollHeight || 0,
        document.documentElement.scrollHeight || 0,
        document.body.offsetHeight || 0,
        document.documentElement.offsetHeight || 0,
        document.body.clientHeight || 0,
        document.documentElement.clientHeight || 0
      );
      return docHeight;
    },
    percent(initDiff) {
      const windowHeight = window.innerHeight;
      const docHeight = this.getDocHeight() - windowHeight;
      const scrollPosition = this.getScrollPosition();
      const result =
        ((scrollPosition + windowHeight) / docHeight) * 100 - initDiff;
      return Math.floor(result);
    },
    getScrollPosition() {
      return window.pageYOffset !== undefined
        ? window.pageYOffset
        : (
            document.documentElement ||
            document.body.parentNode ||
            document.body
          ).scrollTop;
    },
    async handleScroll() {
      const windowHeight = window.innerHeight;
      const docHeight = this.getDocHeight() - windowHeight;
      const initDiff = (windowHeight / docHeight) * 100;
      this.yScrollPercent = this.percent(initDiff);
    },
    extractDateFromTstzRange(tstzrange) {
      const regex = /([0-9]{4})-([0-1][0-9])-([0-3][0-9])\s([0-1][0-9]|[2][0-3]):([0-5][0-9])/g;
      const groups = tstzrange.match(regex);
      return {
        lower: moment(groups[0]).format("DD/MM/yyyy HH:mm"),
        upper: moment(groups[1]).format("DD/MM/yyyy HH:mm"),
      };
    },
    async searchByStatus(status) {
      if (!this.isWaitingForOffers) {
        this.isWaitingForOffers = true;
        this.noMoreOffers = false;
        this.offers = [];
        if (this.lastSelectedStatus !== status) {
          await this.updateOffers(this.currentTimestamp(), status);
        } else {
          await this.updateOffers();
        }
        this.lastSelectedStatus = status;
        this.isWaitingForOffers = false;
      }
    },
    async updateOffers(creationTimestamp, status = "") {
      const params = {
        limit: 10,
        offset: 0,
        creationTimestamp: creationTimestamp,
        status: status,
      };
      let firstOffer = !this.offers.length;
      this.$store.commit("setLoading", true);
      const offersResponse = await this.$axios.$get("/api/v1/offer/list", {
        params,
      });
      if (!offersResponse.length) {
        this.noMoreOffers = true;
      }
      for (const offer of offersResponse) {
        const range = this.extractDateFromTstzRange(offer.meeting_date);
        const stud = await this.$axios.$get("/api/v1/stud/" + offer.stud_id);
        offer.range = range;
        offer.stud = stud;
        offer.statusStyle = this.status.filter(
          (s) => s.label === offer.status
        )[0];
        if (offer.helper_user_id === this.$auth.user.user_id) {
          offer.style = {
            icon: "mdi-emoticon-cool-outline",
            text: "You are an helper :)",
          };
        } else {
          offer.style = {
            icon: "mdi-robot-dead-outline",
            text: "You are a seeker :)",
          };
        }
        if (firstOffer) {
          offer.class = "mx-auto";
          firstOffer = false;
        } else {
          offer.class = "my-5 mx-auto";
        }
        this.offers.push(offer);
      }
      this.$store.commit("setLoading", false);
      this.isWaitingForOffers = false;
    },
  },
  watch: {
    yScrollPercent: async function (newYScrollPercent, old) {
      if (
        newYScrollPercent > 50 &&
        !this.isWaitingForOffers &&
        !this.noMoreOffers
      ) {
        this.isWaitingForOffers = true;
        await this.updateOffers(
          this.offers[this.offers.length - 1].creation_timestamp,
          this.lastSelectedStatus === null ? "" : this.lastSelectedStatus
        );
      }
    },
  },
};
</script>
