<template>
  <div>
    <v-alert
      dense
      :type="alertType"
      :value="alert"
      @click="alert = !alert"
      dismissible
    >
      {{ alertMessage }}
    </v-alert>
    <validation-observer ref="observer" v-slot="{ invalid }">
      <form @submit.prevent="submit">
        <validation-provider
          v-slot="{ errors }"
          name="first_name"
          :rules="{
            required: true,
            regex: '^[[a-zA-Z| |-]*$'
          }"
        >
          <v-text-field
            v-model="first_name"
            :error-messages="errors"
            label="First Name"
            solo
          ></v-text-field>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="last_name"
          :rules="{
            required: true,
            regex: '^[[a-zA-Z| |-]*$'
          }"
        >
          <v-text-field
            v-model="last_name"
            :error-messages="errors"
            label="Last Name"
            solo
          ></v-text-field>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="email"
          rules="required|email"
        >
          <v-text-field
            v-model="email"
            :error-messages="errors"
            label="E-mail"
            required
            solo
          ></v-text-field>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="password"
          :rules="{
            required: true,
            regex:
              '^(?=.*[A-Z])(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$%*#.?&])[A-Za-z\\d@$%*.#?&]{8,}$'
          }"
        >
          <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :error-messages="errors"
            label="Password"
            :type="showPassword ? 'text' : 'password'"
            @click:append="showPassword = !showPassword"
            required
            solo
          ></v-text-field>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="confirm"
          rules="required|password:@password"
        >
          <v-text-field
            v-model="confirmation"
            :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :error-messages="errors"
            label="Password confirmation"
            :type="showConfirmPassword ? 'text' : 'password'"
            @click:append="showConfirmPassword = !showConfirmPassword"
            required
            solo
          ></v-text-field>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="username"
          :rules="{
            required: true,
            regex: '^[[a-zA-Z|0-9| |-]*$'
          }"
        >
          <v-text-field
            v-model="username"
            :error-messages="errors"
            label="User name"
            solo
          ></v-text-field>
        </validation-provider>
        <v-dialog
          ref="dialog"
          v-model="modal"
          :return-value.sync="birthdate"
          persistent
          width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="birthdate"
              label="Birthdate"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="birthdate"
            :min="getMinBirthday"
            :max="getYesterdayDate"
            scrollable
          >
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="modal = false">
              Cancel
            </v-btn>
            <v-btn text color="primary" @click="$refs.dialog.save(birthdate)">
              OK
            </v-btn>
          </v-date-picker>
        </v-dialog>
        <v-file-input
          :rules="rules"
          accept="image/png, image/jpeg, image/bmp"
          placeholder="Pick an avatar"
          prepend-icon="mdi-camera"
          v-model="photo"
        ></v-file-input>
        <v-combobox
          v-model="tags"
          :filter="filter"
          :hide-no-data="!search"
          :items="items"
          :search-input.sync="search"
          hide-selected
          label="Add alert tags (Python, Math, Music...)"
          multiple
          small-chips
          solo
        >
          <template v-slot:no-data>
            <v-list-item>
              <span class="subheading">Create</span>
              <v-chip :color="`${colors[nonce - 1]} lighten-3`" label small>
                {{ search }}
              </v-chip>
            </v-list-item>
          </template>
          <template v-slot:selection="{ attrs, item, parent, selected }">
            <v-chip
              v-if="item === Object(item)"
              v-bind="attrs"
              :color="`${item.color} lighten-3`"
              :input-value="selected"
              label
              small
            >
              <span class="pr-2">
                {{ item.text }}
              </span>
              <v-icon small @click="parent.selectItem(item)">
                mdi-cancel
              </v-icon>
            </v-chip>
          </template>
          <template v-slot:item="{ index, item }">
            <v-text-field
              v-if="editing === item"
              v-model="editing.text"
              autofocus
              flat
              background-color="transparent"
              hide-details
              solo
              @keyup.enter="edit(index, item)"
            ></v-text-field>
            <v-chip v-else :color="`${item.color} lighten-3`" dark label small>
              {{ item.text }}
            </v-chip>
            <v-spacer></v-spacer>
            <v-list-item-action @click.stop>
              <v-btn icon @click.stop.prevent="edit(index, item)">
                <v-icon>{{
                  editing !== item ? "mdi-pencil" : "mdi-check"
                }}</v-icon>
              </v-btn>
            </v-list-item-action>
          </template>
        </v-combobox>
        <v-card-actions class="justify-center">
          <v-btn class="mr-4" type="submit" :disabled="invalid">
            Join us!
          </v-btn>
        </v-card-actions>
      </form>
    </validation-observer>
  </div>
</template>
<script>
/* eslint-disable camelcase */
import { required, email, regex } from 'vee-validate/dist/rules';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from 'vee-validate';
const moment = require('moment');
setInteractionMode('eager');

extend('required', {
  ...required,
  message: '{_field_} can not be empty'
});

extend('regex', {
  ...regex,
  message: '{_field_} does not match {regex}'
});

extend('email', {
  ...email,
  message: 'Email must be valid'
});

extend('password', {
  params: ['target'],
  validate (value, { target }) {
    return value === target;
  },
  message: 'Password confirmation does not match'
});

export default {
  layout: 'guest',
  auth: 'guest',
  components: {
    ValidationProvider,
    ValidationObserver
  },
  created () {
    this.$store.commit('setFormTitle', 'Signup form');
  },
  data: () => ({
    showPassword: false,
    showConfirmPassword: false,
    email: '',
    first_name: null,
    last_name: null,
    confirmation: null,
    username: null,
    modal: false,
    birthdate: '2000-01-01',
    password: '',
    activator: null,
    attach: null,
    colors: ['green', 'purple', 'indigo', 'cyan', 'teal', 'orange'],
    rules: [
      value =>
        !value ||
        value.size < 2000000 ||
        'Avatar size should be less than 2 MB!'
    ],
    editing: null,
    editingIndex: -1,
    items: [
      { header: 'Select an option or create one' },
      {
        text: 'Java',
        color: 'blue'
      },
      {
        text: 'Music',
        color: 'red'
      },
      {
        text: 'Math',
        color: 'green'
      }
    ],
    nonce: 2,
    menu: false,
    tags: [],
    x: 0,
    search: null,
    y: 0,
    alert: false,
    alertType: null,
    alertMessage: null,
    photo: null
  }),

  methods: {
    async submit () {
      const {
        first_name,
        last_name,
        email,
        password,
        username,
        birthdate,
        tags
      } = this;
      const alert_tags = [];
      for (const tag of tags) {
        alert_tags.push(tag.text);
      }
      const newUser = {
        first_name,
        last_name,
        email,
        password,
        username,
        birthdate,
        alert_tags
      };
      try {
        if (this.photo !== null) {
          const formData = new FormData();
          formData.append('file', this.photo, this.photo.name);
          formData.append('email', email);
          formData.append('password', password);
          const profile_picture = await this.$axios.$post('/api/v1/upload', formData);
          newUser.profile_picture = profile_picture.url;
        }

        await this.$axios.$post('/auth/signup', newUser);
        this.alert = true;
        this.alertType = 'success';
        this.alertMessage = 'A validation mail has been sent to your email!, you will be redirected to home page';
        setTimeout(() => this.$router.push({ path: '/' }), 3000);
      } catch (err) {
        this.alert = true;
        this.alertType = 'warning';
        this.alertMessage = 'The information aren\'t correct!';
      }
    },
    edit (index, item) {
      if (!this.editing) {
        this.editing = item;
        this.editingIndex = index;
      } else {
        this.editing = null;
        this.editingIndex = -1;
      }
    },
    filter (item, queryText, itemText) {
      if (item.header) return false;

      const hasValue = val => (val != null ? val : '');

      const text = hasValue(itemText);
      const query = hasValue(queryText);

      return (
        text
          .toString()
          .toLowerCase()
          .indexOf(query.toString().toLowerCase()) > -1
      );
    }
  },
  watch: {
    tags (val, prev) {
      if (val.length === prev.length) return;

      this.tags = val.map(v => {
        if (typeof v === 'string') {
          v = {
            text: v,
            color: this.colors[this.nonce - 1]
          };

          this.items.push(v);
          if (this.nonce === this.colors.length) {
            this.nonce = 0;
          }
          this.nonce++;
        }

        return v;
      });
    }
  },
  computed: {
    getYesterdayDate () {
      return moment()
        .add(-1, 'days')
        .format('YYYY-MM-DD');
    },
    getMinBirthday () {
      return moment()
        .add(-130, 'years')
        .format('YYYY-MM-DD');
    }
  }
};
</script>
