<template>
  <v-container>
    <v-row>
      <v-col cols="2">
        <v-sheet rounded="lg">
          <v-list color="transparent">
            <v-list-item
              v-for="tag of tags"
              :key="tag"
              @click="searchByTag(tag)"
              link
            >
              <v-list-item-content>
                <v-list-item-title>{{ tag }} studs</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-sheet>
      </v-col>
      <v-col>
        <v-sheet min-height="70vh" rounded="lg">
          <div class="py-2">
            <v-card
              v-for="stud of this.studs"
              :key="stud.stud_id"
              :class="stud.class"
              max-width="99%"
            >
              <v-card-title>
                <v-col>
                  <h2
                    v-bind:class="
                      'display-1 font-weight-light bold ' +
                      stud.style.titleColor
                    "
                  >
                    {{ stud.title }}
                  </h2>
                </v-col>
                <v-col
                  class="pl-8"
                  cols="12"
                  md="2"
                  title="The deadline of this Stud"
                >
                  <span class="text-body-2"
                    ><v-icon :color="stud.style.deadlineIconColor">
                      mdi-clock-alert</v-icon
                    >
                    <span :class="stud.style.deadlineText">
                      {{ formatCreationTS(stud.deadline) }}
                    </span>
                  </span>
                </v-col>
                <v-col
                  class="ml-n16 pl-10"
                  cols="12"
                  md="1"
                  title="The cost of this Stud"
                >
                  <span class="title text-body-2"
                    ><v-icon :color="stud.style.moneyIconColor">
                      mdi-cash-multiple</v-icon
                    >
                    {{ stud.stud_cost }}
                  </span>
                </v-col>
              </v-card-title>
              <v-card-text class="mx-4">
                {{
                  stud.problem_description.length > 150
                    ? stud.problem_description.substr(0, 150) + "..."
                    : stud.problem_description
                }}
              </v-card-text>

              <v-divider class="mx-4"></v-divider>

              <v-card-text class="mx-4">
                <v-row>
                  <span class="py-3 px-3 subheading">Stud tags</span>

                  <v-chip-group>
                    <v-chip v-for="tag in stud.tags" :key="tag" :value="tag">
                      {{ tag }}
                    </v-chip>
                  </v-chip-group>
                </v-row>
              </v-card-text>

              <v-divider class="mx-4"></v-divider>
              <v-row>
                <v-col>
                  <v-card-actions>
                    <v-list-item class="grow px-6">
                      <v-list-item-avatar color="grey  darken-3">
                        <v-img
                          class="elevation-6"
                          :style="stud.style.imgColor"
                          alt=""
                          :src="stud.owner.profile_picture"
                        ></v-img>
                      </v-list-item-avatar>

                      <v-list-item-content>
                        <v-col class="pl-2" cols="12" md="2">
                          <v-list-item-title>{{
                            stud.owner.username
                          }}</v-list-item-title>
                        </v-col>
                        <v-col class="pl-2" cols="12" md="2">
                          <span
                            class="text-body-2"
                            title="The creation date of this Stud"
                            ><v-icon color="grey"> mdi-calendar-clock</v-icon>
                            {{ formatCreationTS(stud.creation_timestamp) }}
                          </span>
                        </v-col>
                      </v-list-item-content>
                    </v-list-item>
                  </v-card-actions>
                </v-col>
                <v-col cols="12" md="2">
                  <v-card-actions>
                    <v-btn
                      block
                      class="white--text my-4"
                      :color="stud.style.btnColor"
                      :to="'/stud/' + stud.stud_id"
                    >
                      Show Stud
                    </v-btn>
                  </v-card-actions>
                </v-col>
              </v-row>
            </v-card>
          </div>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
const moment = require('moment');
export default {
  layout: 'index',
  async fetch () {
    await this.updateStud(this.curruentTimeStamp());
    this.tags = this.$auth.user.alert_tags;
  },
  data: () => ({
    sizes: ['C#', 'Java', 'Algo'],
    studs: [],
    offset: 0,
    limit: 10,
    tags: [],
    lastSelectedTag: null,
    searchTag: null,
    isWaitingForStuds: true,
    noMoreStuds: false,
    yScrollPercent: 0
  }),
  watch: {
    yScrollPercent: async function (newYScrollPercent, old) {
      if (
        newYScrollPercent > 50 &&
        !this.isWaitingForStuds &&
        !this.noMoreStuds
      ) {
        this.isWaitingForStuds = true;
        await this.updateStud(
          this.studs[this.studs.length - 1].creation_timestamp,
          this.searchTag === null ? [] : [this.searchTag]
        );
      }
    }
  },
  methods: {
    curruentTimeStamp () {
      return new Date(Date.now()).toISOString();
    },
    async updateStud (creationTimestamp, tags = []) {
      let firstStud = !this.studs.length;
      this.$store.commit('setLoading', true);
      const studs = await this.$axios.$get('/api/v1/stud/list', {
        params: {
          limit: this.limit,
          creationTimestamp,
          tags
        }
      });
      if (!studs.length) {
        this.noMoreStuds = true;
      }
      for (const stud of studs) {
        const user = await this.$axios.$get(
          `/api/v1/user/${stud.stud_owner_id}`
        );
        stud.owner = {
          username: user.username,
          profile_picture: user.profile_picture
        };
        if (firstStud) {
          firstStud = false;
          stud.class = 'mx-auto';
        } else {
          stud.class = 'my-5 mx-auto';
        }
        if (stud.status === 'AVAILABLE') {
          stud.style = {
            deadlineIconColor: 'red',
            moneyIconColor: 'green',
            titleColor: 'indigo--text',
            btnColor: 'blue darken accent-4',
            imgColor: '',
            deadlineText: ''
          };
        } else {
          stud.style = {
            deadlineIconColor: 'grey',
            moneyIconColor: 'grey',
            titleColor: 'grey--text',
            btnColor: 'grey',
            imgColor: 'filter: grayscale(1);',
            deadlineText: 'text-decoration-line-through'
          };
        }
        this.studs.push(stud);
      }
      this.$store.commit('setLoading', false);
      this.isWaitingForStuds = false;
    },
    getDocHeight () {
      const docHeight = Math.max(
        document.body.scrollHeight || 0,
        document.documentElement.scrollHeight || 0,
        document.body.offsetHeight || 0,
        document.documentElement.offsetHeight || 0,
        document.body.clientHeight || 0,
        document.documentElement.clientHeight || 0
      );
      return docHeight;
    },
    percent (initDiff) {
      const windowHeight = window.innerHeight;
      const docHeight = this.getDocHeight() - windowHeight;
      const scrollPosition = this.getScrollPosition();
      const result =
        ((scrollPosition + windowHeight) / docHeight) * 100 - initDiff;
      return Math.floor(result);
    },
    getScrollPosition () {
      return window.pageYOffset !== undefined
        ? window.pageYOffset
        : (
            document.documentElement ||
            document.body.parentNode ||
            document.body
          ).scrollTop;
    },
    async handleScroll () {
      const windowHeight = window.innerHeight;
      const docHeight = this.getDocHeight() - windowHeight;
      const initDiff = (windowHeight / docHeight) * 100;
      this.yScrollPercent = this.percent(initDiff);
    },
    async searchByTag (tag) {
      this.isWaitingForStuds = false;
      this.noMoreStuds = false;
      this.searchTag = tag;
      this.studs = [];
      if (tag !== this.lastSelectedTag) {
        await this.updateStud(this.curruentTimeStamp(), [tag]);
      } else {
        await this.updateStud(this.curruentTimeStamp());
      }
      this.lastSelectedTag = tag;
    },
    formatCreationTS (ts) {
      return moment(ts).format('DD/MM/yyyy hh:mm');
    }
  },
  beforeMount () {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll);
  }
};
</script>
